<h1>Bonjour, S’il vous plaît confirmer votre courriel!</h1>

<p>
    Veuillez confirmer votre adresse courriel en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon courriel</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>


