    <nav class="absoult top-0 left-0 w-full bg-white shadow-md grid grid-cols-3 p-4 z-10">
        <div class="pl-4">
            <img src="{{ asset('assets/images/logo.png') }}" class="w-10">
        </div>
        <div class="text-center text-green-500 text-2xl font-bold tracking-widest">SWAPIFY</div>
        <div class="flex justify-end pr-4">
            <a href="{{path('app_home')}} " data-turbo="false">
                <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"/>
                </svg>
            </a>         
        </div>
    </nav>