<div class="bg-white rounded-lg shadow-lg w-full mx-auto md:col-span-2 lg:col-span-2">
    <div class="relative">
        <!-- Cover Image -->
        <img class="w-full h-40 object-cover rounded-t-lg" 
             src="https://th.bing.com/th/id/R.f48ceff9ab3322d4e84ed12a44c484d1?rik=0KQ6OgL4T%2b9uCA&riu=http%3a%2f%2fwww.photo-paysage.com%2falbums%2fuserpics%2f10001%2fCascade_-15.JPG&ehk=kx1JjE9ugj%2bZvUIrjzSmcnslPc7NE1cOnZdra%2f3pJEM%3d&risl=1&pid=ImgRaw&r=0" 
             alt="Cover Image">
        <!-- Profile Image -->
        <div class="absolute inset-x-0 -bottom-12 flex justify-center">
            <img class="w-24 h-24 rounded-full border-4 border-white" 
                 src="https://th.bing.com/th/id/OIP.AbGafkazjc_S1pZPh0B9cQHaIm?rs=1&pid=ImgDetMain" 
                 alt="Profile">
        </div>
    </div>

    <div class="text-center mt-14 p-4">
        <h2 class="text-lg font-semibold">{{app.user.nom}} {{app.user.prenom}}</h2>
        <div class="flex justify-around mt-4 text-gray-600 text-sm">Rating</div>
                <div class="star-rating mb-3" style="--rating: {{ rating }};"></div>


    </div>
</div>


<style>

   .star-rating {
      --percent: calc(var(--rating) / 5 * 100%);
      font-size: 24px;
    }

    .star-rating::before {
      content: '★★★★★';
      letter-spacing: 2px;
      background: linear-gradient(90deg, gold var(--percent), lightgray var(--percent));
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

</style>
