<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}User Dashbord!{% endblock %}</title>
        <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <style>
             @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
             .font-family-karla { font-family: karla; }
             .bg-sidebar { background-color: #2d3748; }
             .cta-btn { color: #3d68ff; }
             .upgrade-btn { background: #1947ee; }
             .upgrade-btn:hover { background: #0038fd; }
             .active-nav-link { background: #fff; text-decoration:none; }
             .nav-item:hover { background:#38a169; }
        </style>
    </head>

    <body class='bg-gray-100 font-family-karla flex'>
        {% block sidebar %}
            {% include 'dashboard/partials/sidebar.html.twig' %}
        {% endblock %}
        <div class="w-full flex flex-col h-screen overflow-y-hidden">
            {% block header %}
                {% include 'layout/navBar/user_nav.html.twig' %}
            {% endblock %}
            <div class="w-full overflow-x-hidden border-t flex flex-col">
                <main class="w-full flex-grow p-6">
                    {% block content %}{% endblock %}
                </main>
            </div>
        </div>
    </body>
</html>
