{% extends 'dashBord_user.html.twig' %}

{% block content %}
    {% if form is defined %}
        {{ include('dashboard/profile_user/profile.html.twig') }}
    {% else %}
        <p>Erreur : formulaire non disponible.</p>
    {% endif %}
{% endblock %}