{% extends 'dashBord_user.html.twig' %}

{% block content %}
    <div class="w-full overflow-hidden border-t flex flex-col"> 
        <main class="w-full flex-grow p-6">
            <p class="text-xl pb-6 flex items-center">
                    <i class="fa fa-bullhorn mr-3" aria-hidden="true"></i> Annonce  
            </p>
            <div class="flex flex-col space-y-6"> 

                       <div class="text-center mb-4">
                <a href="{{ path('app_annonce_new') }}" class="btn btn-success">
                    <i class="fas fa-plus"></i> Créer une nouvelle annonce
                </a>
            </div>
           

         //mesAnnonces
    </div>
{% endblock %}