{% extends 'base.html.twig' %}

{% block title %}Erreur serveur{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="alert alert-danger text-center">
            <h1 class="display-4">Erreur interne du serveur</h1>
            <p class="lead">Il y a eu un problème sur notre serveur. Nous nous en occupons rapidement.</p>
            <hr>
            <p>
            </p>
        </div>
    </div>
{% endblock %}
